params {
	// Basic info
  version = "1.1" // Pipeline version
  container = 'skptic/steadyflow:latest' // Container slug. Stable releases should specify release tag!
  nf_required_version = '0.30.0' // Minimum version of nextflow required
  
	// Input arguments    
  // dataDir = false
  // bamDir = false
    
	// Run arguments
  workdir = false
  email = false
  help = false
  nf_required_version = nf_required_version
  noTrim = false
  outdir = './results'  
  version = version    
}

profiles {
  example {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/example.config'
  }
}

//process.shell = ['/bin/bash', '-euo', 'pipefail']

manifest {
  homePage = 'https://github.com/Dowell-Lab/AnalysisFlow'
  description = 'This pipeline performs basic analysis of Nascent and RNA-Seq data'
  mainScript = 'main.nf'
}