// Example configuration file
params {
		// The path of your hand-written conditions and design table
		conditionsTable = "/scratch/Users/zama8258/analysis_flow/test/conditions_table.txt"
		designTable = "/scratch/Users/zama8258/analysis_flow/test/design.txt"
		// The location where your pipeline output is
		dataDir = "/scratch/Users/zama8258/nina_rnaseq_processed"
		// The bam and bedGraph locations. These shouldn't need to be changed
		bamDir = params.dataDir + "/mapped/bams/"
		bedgraphs = params.dataDir + "/mapped/bedgraphs/*.bedGraph"
		// A refseq bedgraph containing gene names
		refseq = "/scratch/Shares/dowell/genomes/hg38/hg38_refseq.bed"
		// A file mapping refseq and common gene ids. hg38, dm6, and mm10 provided in ../assets/
		conversionFile = "/scratch/Users/zama8258/pause_analysis_src/refseq_to_common_id.txt"
		// The number of regions for
		metageneNumRegions = "100"
		// The 5' most read relative to the TSS considered the 'paused region'
		pauseUpstream = "-30"
		// The 3' most read relative to the TSS considered the 'paused region'
		pauseDownstream = "300"
		pauseTag="pipeline"
		// The directory where you want processed data to go
		outdir="FIXME"
}
